{
  "extends": "react-app",
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "max-len": ["error", { "code": 80, "tabWidth": 2 }]
  }
}