/*
    Unlike each component's css in 'src/' this css is not isolated from the web page.
*/

body {
    margin: 0;
    padding: 0;
}

.ext-wrapper {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
}

.ext-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}