/*
    Unlike each component's css in 'src/' this css is not isolated from the web page.
*/

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#ext-wrapper {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2147483647;
    background-color: white;
    box-shadow: 0px 0px 5px #0000009e;
}

#ext-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}