name: Running tests

on:
  pull_request:
  push:
    branches:
    - master
    - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Cache yarn and cypress
      id: cache-files
      uses: actions/cache@v2
      with:
        # Save ~/.cache which contains yarn cache, node_modules and crypress cache
        path:
        - '~/.cache'
        - 'node_modules'
        # Create/Hit using OS and yarn.lock hash as key
        key: ${{ runner.os }}-buildv1-${{ hashFiles('**/yarn.lock') }}
        # Alternate keys
        restore-keys: |
          ${{ runner.os }}-buildv1-

    - name: Install dependencies
      if: steps.cache-files.outputs.cache-hit != 'true'
      run: yarn install --frozen-lockfile

    - name: Build dev
      run: yarn build:dev
      env:
        CI: true
        NODE_ENV: test

    - name: Run unit tests
      run: yarn test:unit
      env:
        CI: true
        NODE_ENV: test

    - name: Run integration tests
      run: yarn test:cy
      env:
        CI: true
        NODE_ENV: test



