name: Running tests

on:
  pull_request:
  push:
    branches:
    - master
    - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Cache yarn and cypress
      id: cache-files
      uses: actions/cache@v2
      with:
        # Save yarn cache
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        # Create/Hit using OS and yarn.lock hash as key
        key: ${{ runner.os }}-build-cache-${{ hashFiles('**/yarn.lock') }}
        # Alternate keys
        restore-keys: |
          ${{ runner.os }}-build-cache-

    - name: Cache node_modules
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        # Save node_modules
        path: '**/node_modules'
        # Create/Hit using OS and yarn.lock hash as key
        key: ${{ runner.os }}-build-modules-${{ hashFiles('**/yarn.lock') }}
        # Alternate keys
        restore-keys: |
          ${{ runner.os }}-build-modules-

    - name: Install dependencies
      if: |
        steps.cache-files.outputs.cache-hit != 'true' ||
        steps.cache-node-modules.outputs.cache-hit != 'true'
      run: yarn install --frozen-lockfile

    - name: Build dev
      run: yarn build:dev
      env:
        CI: true
        NODE_ENV: test

    - name: Run unit tests
      run: yarn test:unit
      env:
        CI: true
        NODE_ENV: test

    - name: Run integration tests
      run: yarn test:cy
      env:
        CI: true
        NODE_ENV: test



